$dark-violet: #1C0B4A
$darker-violet: #2D1F57
$violet: #3E3264
$yellow: #FFB52B
$orange: #FCA027
$red: #D95D39
$turquoise: #1282A2
$sea-green: #2E8A6A
$darker-sea-green: #297A5E
$light-grey: #C2C2C2
$grey: #555
$dark-grey: #393A3A
$darkest-grey: #1C1E1F
$coffee-brown: #1F0909
