<nav>
  <div id="logo-frame">
    <img id="logo"
         src="images/logo.png"
         height="78px" width="78px"
         alt="">
    <h1 id="title">Wörtchen</h1>
  </div>
  <div id="nav-items">
    <input type="checkbox" id="nav-check"/>
    <div class="nav-icon">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <ul class="nav-links">
      @for (route of routes; track route.title) {
        <li>
          <button id="nav-{{route.title}}" [routerLink]="'/' + route.path" class="three-d-button" [class.currentPage]="route.title == currentPageTitle()">
            {{route.title}}
          </button>
        </li>
      }
    </ul>
  </div>
</nav>
